div{width: 100%; background-color :blanchedalmond ; border: 2px; border-radius: 10px;font-style: oblique;}
div{width: 100%; background-color:aliceblue; border: 2px; border-radius: 10px;font-style:unset;text-align: right  ;}
